*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.firstPage{
  color: white;
  height: 100%;
  width: 100%;
  background-image: url(./img/WhatsApp\ Image\ 2025-07-09\ at\ 19.42.34.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid transparent;
}

nav {
  margin: 0px auto;
  width: fit-content;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3vw;
}

nav * {
  padding: 4px 7px;
  border-radius: 1vh;
  background-color: transparent;
  border: none;
  color: white;
  font-weight: 800;
  font-size: 1vw;
  cursor: pointer;
}

#hero{
  width: 100%;
  height: 100%;
  text-align: center;
}

#hero h1 {
  font-weight: 500;
  margin-top: 10vh;
  font-size: 4.5vw;
}

.secondPage{
  margin: 0 auto;
  height: 70%;
  width: 80%;
  text-align: center;
  padding-top: 7%;
  border-bottom: 5px solid grey;
}
.secondPage h1{
  margin-bottom: 2%;
}

.secondPage p{
  width: 40%;
  margin: 0 auto;
}

.secondPage a{
  display: block;
  margin-top: 6%;
  text-decoration: none;
  color: black;
  font-weight: 800;
}

.thirdPage{
  margin: 0 auto;
  position: relative;
  height: 100%;
  width: 80%;
  padding-top: 5%;
  border-bottom: 5px solid grey;
}

.thirdPage h2 {
 text-align: center;
 margin-bottom: 5%; 
}

.thirdPage .shop {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3vw;
  text-align: center;
}

.thirdPage button{
  position: absolute;
  padding: 8px 16px;
  background-color: transparent;
  border: 1px solid black;
  font-size: small;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%,-10%);
}

.textCenter {
  text-align: center;
}

.thirdPage .image{
  width: 100%;
  height: 70%;
  background-color: red;
  margin-bottom: 10px;
}

.image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.shop > div {
  height: 60vh;
  width: 30%;
}

.forthPage{
  height: 100%;
  width: 100%;
  
}
.forthPage section{
  text-align: center;
  height: 50%;
  width: 100%;
  padding-top: 10%;
}

section p {
  margin-bottom: 1%;
}

.forthPage input{
  padding: 0 1vw;
  display: inline-block;
  width: 40%;
  height: 20%;
}

.forthPage button{
  height: 20%;
  width: 8%; 
}

footer {
  height: 60%;
  width: 100%;
  padding: 5%;
  display: flex;
  background-color: rgb(0, 25, 30);
  position: relative;
}

footer div {
  height: 100%;
  width: 100%;
  display: flex;
}

.firstFooter{
  flex-direction: column;
  gap: 1vh;
  text-decoration: none;
}

.firstFooter a{
  width: fit-content;
  position: relative;
  text-decoration: none;
  color: white;
}

.firstFooter a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: white;
  transition: width 0.3s ease;
}

.firstFooter a:hover::after {
  width: 100%;
}

#bottomFoot {
  position: absolute;
  height: fit-content;
  width: fit-content;
  top: 80%;
  right: 18%;
  color: white;
}

/* For phones */
@media (max-width: 480px) {
  /* styles for mobile phones */
  nav *{
    font-size: 2.9vw;
  }

  #hero h1 {
    font-size: 10.5vw;
  }

  .secondPage h1 {
    margin-bottom: 20%;
  }

  .secondPage p {
    width: 90%;
    margin-bottom: 26%;
  }

  
  .thirdPage h2 {
    margin-bottom: 13%;
  }

  .thirdPage {
    height: 170%;
  }

  .thirdPage .shop {
    flex-direction: column;
    gap: 0vw;
  }

  .shop > div {
    width: 100%;
    height: 44vh;
  }

  section p {
    margin-bottom: 9% ;
  }


  .forthPage input {
    width: 56%;
    border: 0.5px solid black;
  }

  .forthPage button {
    width: 25%;
  }

  footer{
    flex-direction: column;
  }

}
